* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
}

#root {
  height: 100%;
}

.container {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
  /* height: 100%; */
  background-color: aliceblue;
}

.flex-item {
  
}

.header {
  flex: 1;
}

.vin-form-section {
  flex: 600px;
}

.vin-form {
  
}