* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
}

#root {
  height: 100%;
}


.roboto-google {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* height: 100%; */
  /* background-color: aliceblue; */
}

.row {
  display: flex;
  flex-wrap: wrap;
  gap: 1.3rem;
  padding: 1rem;
}

.space-around {
  justify-content: space-around;
}

.full-col {
  flex: 100%;
}

.flex-item {}

.header {
  flex: 100%;
}

.vin-form-container {
  display: flex;
  justify-content: center;
}

input {
  
}

.vin-form-section {
  flex: 100%;
  margin-top: 3rem;
}

.car-details {
  flex: 1;
  background-color: rgb(243, 243, 243);
}

.car-details-item {
  padding: 1.3rem;
}

.car-icon-section {
  margin: 2rem;
  text-align: center;
}

.card {
  background-color: #ffffff;
  /* border-radius: 2rem; */
  border-width: 1px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  flex: 30vw;
}

.card:hover {
  box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.2);
}

.title-text {
  font-size: 1.1rem;
  font-weight: bold;
}

.car-name {
  font-size: 4rem;

}

.main-title {
  font-family: "Inter", system-ui, -apple-system, sans-serif;
  font-size: clamp(3.5rem, 8vw, 7rem);
  font-weight: 800;
  line-height: 0.9;
  letter-spacing: -0.02em;
  text-transform: uppercase; /* optional for modern impact */
  text-align: center;
}

.vin-form {

}

.loader {
  width: 48px;
  height: 48px;
  border: 3px dotted #FFF;
  border-style: solid solid dotted dotted;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 2s linear infinite;
}
.loader::after {
  content: '';  
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 3px dotted #FF3D00;
  border-style: solid solid dotted;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  animation: rotationBack 1s linear infinite;
  transform-origin: center center;
}
    
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 
@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

label {
  font-size: 1.2rem;
}

footer {
  flex: 100%;
  padding: 1.3rem;
}